<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload files</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Upload files</h1>
    <form>
      <input
        type="file"
        name="image"
        accept=".gif, .jpg, .png, .mp4, .mp3, .avi, .wmv, .mov"
      />
      <button type="submit">Upload</button>
    </form>
    <div class="holder"></div>
    <script src="main.js"></script>
  </body>
</html>
